@import "tailwindcss";

@theme {
  --color-rock: oklch(80% 0.1218 93.54);
  --color-ghost: oklch(66.67% 0.2 259.26);
  --color-electric: oklch(90% 0.18 100.02);
  --color-bug: oklch(70% 0.2 145.00);
  --color-poison: oklch(70% 0.2 320.00);
  --color-normal: oklch(62.75% 0.05 120.00);
  --color-fairy: oklch(80% 0.2 320.00);
  --color-fire: oklch(70% 0.2 70.00);
  --color-grass: oklch(70% 0.2 145.00);
  --color-water: oklch(70% 0.2 220.00);
  --color-fighting: oklch(70% 0.2 20.00);
  --color-psychic: oklch(70% 0.2 10.00);
  --color-ground: oklch(70% 0.2 30.00);
  --color-flying: oklch(70% 0.2 210.00);
  --color-dark: oklch(35% 0.1 270.00);
  --color-dragon: oklch(70% 0.2 240.00);
  --color-ice: oklch(70% 0.2 180.00);
  --color-steel: oklch(70% 0.2 200.00);
 
  /* ... */
}

html {
    font-family: "Montserrat", serif;
    scroll-behavior: smooth;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    
  }
  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #223ba8;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #415bcf;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #4c4fff;
  }
}

.bg-black-b {
  --tw-bg-opacity: 1;
  background-color: rgba(0,0,0, 0.5);
  backdrop-filter: blur(15px)
}



  